
/* roboto-regular - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/robotoroboto-v18-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/robotoroboto-v18-cyrillic_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/robotoroboto-v18-cyrillic_latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/robotoroboto-v18-cyrillic_latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/robotoroboto-v18-cyrillic_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/robotoroboto-v18-cyrillic_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-weight: 400;
  color: #283136;

  background-color: #fff;
}

main {
  position: relative;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;

  max-height: 65px;
}

.logo:hover,
.logo:focus {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.3;
}

.logo--active:hover {
  opacity: 1;
}

.main-header {
  padding-top: 48px;
  padding-bottom: 2px;

  background-color: #eee;
}

.main-header a {
  line-height: 30px;
  font-weight: 500;
  font-family: "Roboto Medium", "Tahoma", sans-serif;
  color: #000;
  text-transform: uppercase;
}

.main-nav {
  width: 439px;
  margin-right: 82px;
}

.main-nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;

  width: 100%;
}

.main-nav__link {
  display: block;
  padding-top: 12px;

  color: #000;
}

.main-nav__link:active,
.main-header__busket:active {
  color: rgba(0, 0, 0, .3);
}

.main-nav__link:hover,
.main-header__busket:hover,
.main-header__busket:hover,
.main-nav__link:focus,
.main-header__busket:focus {
  color: #fb565a;
}

.main-nav__link--current {
  position: relative;
}

.main-nav__link--current:hover {
  color: #000;
}

.main-nav__link--current::before {
  content: "";
  position: absolute;
  top: 6px;

  width: 100%;
  height: 100%;

  border-bottom: 2px solid #fb565a;
}

.main-nav__list,
.slider__switches-list,
.service__list,
.clients__list,
.social__list,
.info__list,
.filter__grid-list,
.filter__features-list,
.templates__nav-list,
.pagination__list,
.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-header__busket {
  position: relative;

  padding-top: 12px;
}

.main-header__busket::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 19px;

  display: block;
  height: 15px;
  width: 15px;

  background: url(../img/cart-icon.svg) no-repeat;
  background-size: 100%;
}

.slider {
  position: relative;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;

  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.slider-controls label {
  position: relative;

  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;

  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;
  border-radius: 50%;
}

#product-1:checked ~ .slider__list .slider__item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider__list .slider__item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider__list .slider__item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls__item--1::before,
#product-2:checked ~ .slider-controls .slider-controls__item--2::before,
#product-3:checked ~ .slider-controls .slider-controls__item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider__item {
  display: none;
}

.slider__item--thoroughly {
  background: url(../img/slide1.png) no-repeat;
  background-position: 93% 100%;
}

.slider__item--maths {
  background: url(../img/slide2.png) no-repeat;
  background-position: bottom right;
}

.slider__item--night {
  background: url(../img/slide3.png) no-repeat;
  background-position: bottom right;
}

.slider__item-content {
  width: 520px;
  padding-top: 75px;
}

.slider__item-text {
  width: 420px;
  margin-top: 27px;
  margin-bottom: 40px;
}

.slider__item-btn {
  display: inline-block;
  padding: 17px 54px 15px 54px;
  margin-bottom: 80px;
  vertical-align: middle;

  background-color: #fb565a;
}

.slider__item-btn:hover,
.slider__item-btn:focus,
.contacts__btn:hover,
.contacts__btn:focus,
.templates__item-price:hover,
.templates__item-price:focus,
.feedback__submit:hover,
.feedback__submit:focus {
  background-color: #e74246;
}

.slider__item-btn:active,
.contacts__btn:active,
.templates__item-price:active,
.feedback__submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.slider,
.welcome-block {
  background-color: #eee;
}

.slider__item-slogan {
  margin: 0;

  font-family: "Roboto Medium", "Tahoma", sans-serif;
  font-size: 55px;
  line-height: 55px;
  color: #000;
  letter-spacing: 0.2px;
}

.welcome-block__title {
  margin: 0 auto;
  margin-left: 217px;
  padding: 72px 0 113px 0;

  font-size: 55px;
  line-height: 55px;
  font-weight: normal;
  font-family: "Roboto Medium", "Tahoma", sans-serif;
  color: #000;
}

.catalog {
  padding-top: 52px;
}

.catalog .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.filters {
  max-width: 260px;
  margin-right: 140px;
}

.templates {
  width: 760px;
}

.filter fieldset {
  padding: 0;
  margin-left: 0;
  margin-right: 0;

  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 13px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;

  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  vertical-align: middle;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin-left: 5px;
  width: 60px;
  padding: 11px 11px;

  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.filter legend,
.templates__nav-title,
.templates__item-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  color: #000;
}

.filter__price {
  margin-bottom: 52px;
  margin-left: 0;
}

.filter__price legend {
  letter-spacing: 1px;
}

.filter__price label {
  letter-spacing: 0.06em;
}

.price-control {
  line-height: 22px;
  text-transform: uppercase;
}

.filter label {
  line-height: 20px;
}

.filter__grid-list {
  margin-top: 14px;
  padding-left: 37px;
}

.filter__grid {
  margin-bottom: 27px;
}

.filter__features-list {
  margin-top: 14px;
  padding-left: 37px;
}

.filter__grid-item {
  margin-bottom: 16px;
}

.filter__features {
  margin-bottom: 31px;
}

.filter__features-item {
  margin-bottom: 16px;
}

.templates__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  padding-bottom: 11px;
}

.templates__nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-basis: 300px;
      -ms-flex-preferred-size: 300px;
          flex-basis: 300px;

  text-transform: uppercase;
}

.templates__nav-item:last-child {
  margin-right: 27px;
}

.templates__nav-link {
  color: #000;
  font-size: 14px;
  line-height: 18px;

  opacity: 0.3;
}

.templates__nav-link:hover,
.templates__nav-link:focus {
  opacity: 0.6;
}

.templates__nav-link:active {
  opacity: 1;
}

.templates__nav-link--active {
  opacity: 1;
}

.templates__nav-link--active:hover {
  opacity: 1;
}

.sorting {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;

  width: 60px;
  padding-top: 8px;
}

.sorting__icon {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 18px;

  border-style: solid;
  border-width: 10px 5.5px 0 5.5px;
  border-color: #000 transparent transparent transparent;
  opacity: .2;
}

.sorting__icon:focus,
.sorting__icon:hover {
  opacity: .4;
}

.sorting__icon:active {
  opacity: 1;
}

.sorting__icon--active {
  opacity: 1;
}

.sorting__icon--active:hover {
  opacity: 1;
}

.sorting__icon--up {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}

.templates__nav-title {
  max-width: 160px;
  margin-right: 267px;
  margin-top: 4px;
  line-height: 18px;
}

.templates__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;

  max-width: 760px;
  margin-bottom: 70px;
}

.templates__item {
  position: relative;

  margin-top: 68px;
}

.templates__item:hover .templates__item-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.templates__item::before {
  content: "";
  position: absolute;
  top: -39px;
  z-index: 10;

  display: block;
  width: 360px;
  height: 40px;

  background: url(../img/browser.svg) no-repeat;
  opacity: 0.1;
}

.templates__item:hover::before {
  opacity: 1;
}

.templates__item-img {
  position: relative;

  border: 1px solid #eee;
}

.templates__item-content {
  position: absolute;
  bottom: 7px;

  width: 360px;

  text-align: center;

  background-color: #eee;
}

.templates__item-content {
  position: absolute;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  width: 360px;
  min-height: 231px;

  background-color: #eee;
}

.templates__item-wrapper {
  height: 231px;
  padding-top: 25px;
  padding: 0 60px;
  margin: 0 auto;
}

.templates__item-title {
  display: block;
  margin-top: 25px;
  margin-bottom: 16px;

  line-height: 30px;
  font-weight: bold;
  color: #000;
}

.templates__item-text {
  margin-bottom: 31px;

  line-height: 18px;
  color: #666;
}

.templates__item-price {
  display: block;
  padding: 16px 0;
  width: 200px;
  margin: 0 auto;

  background-color: #fb565a;
}

.btn,
.feedback__submit {
  font-family: "Roboto Medium", "Tahoma", sans-serif;
  font-weight: normal;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 3px;
}

.filter__button {
  padding: 16px 88px;

  font-family: "Roboto Medium", "Tahoma", sans-serif;
  color: #000;

  background-color: #eee;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.filter__button:hover,
.filter__button:focus {
  background-color: #dfdfdf;
}

.filter__button:active {
  background-color: #d5d5d5;
  -webkit-box-shadow: inset 0 3px 0 0 rgba(0,0,0, 0.1);
          box-shadow: inset 0 3px 0 0 rgba(0,0,0, 0.1);
  color: rgba(0, 0, 0, 0.3);
}

.pagination__link:hover,
.pagination__link:focus {
  background-color: #dfdfdf;
  border: 3px solid #dfdfdf;
}

.pagination__link:active {
  background-color: #d5d5d5;
  -webkit-box-shadow: inset 0 3px 0 0 rgba(0,0,0, 0.1);
          box-shadow: inset 0 3px 0 0 rgba(0,0,0, 0.1);
  color: rgba(0, 0, 0, 0.3);
}

.filter__grid-item:hover .filter__radio:checked~label::before,
.filter__grid-item:hover .filter__radio~label::before,
.filter__features-item:hover .filter__checkbox:checked~label::before,
.filter__features-item:hover .filter__checkbox~label::before,
.filter__grid-item:focus .filter__radio:checked~label::before,
.filter__grid-item:focus .filter__radio~label::before,
.filter__features-item:focus .filter__checkbox:checked~label::before,
.filter__features-item:focus .filter__checkbox~label::before {
  opacity: 1;
}

.filter__grid-item:hover,
.filter__grid-item:focus {
  color: #000;
}

.filter__grid-item:disabled
.filter__features-item:disabled {
  opacity: .3;
}

.filter__grid-item:disabled .filter__radio:checked~label::before,
.filter__grid-item:disabled .filter__radio~label::before,
.filter__features-item:disabled .filter__checkbox:checked~label::before,
.filter__features-item:disabled .filter__checkbox~label::before {
  opacity: .1;
}

.filter__radio:checked~label::before {
  background-image: url(../img/radio-on.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter__grid-item {
  position: relative;
}

.filter__grid-item label,
.filter__features-item label {
  cursor: pointer;
}

.filter__grid-item label::before {
  background-image: url(../img/radio-off.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter__checkbox:checked~label::before {
  background-image: url(../img/checkbox-on.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter__features-item {
  position: relative;
  cursor: pointer;
}

.filter__features-item label::before {
  background-image: url(../img/checkbox-off.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter__grid-item label::before,
.filter__features-item label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 1px;

  width: 25px;
  height: 25px;

  opacity: .4;
  cursor: pointer;
}

.service {
  padding-top: 80px;
}

.service__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 93px;

  border-bottom: 2px solid #eee;
}

.service__item {
  max-width: 300px;
}

.service__item:last-child {
  margin-right: 60px;
}

.service__item-title {
  margin-top: 18px;
  margin-bottom: 15px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.service__text {
  max-width: 260px;
  margin-bottom: 45px;
}

.service__btn {
  padding: 14px 39px;
}

.service__btn:active {
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
  color: rgba(255, 255, 255, 0.3);
}

.btn--sites {
  background-color: #fb565a;
}

.btn--sites:hover,
.btn--sites:focus {
  background-color: #e74246;
}

.btn--sites:active {
  background-color: #d7373b;
}

.btn--apps {
  background-color: #00ca74;
}

.btn--apps:hover,
.btn--apps:focus {
  background-color: #00bc6c;
}

.btn--apps:active {
  background-color: #00aa62;
}

.btn--presentations {
  background-color: #efc84a;
}

.btn--presentations:hover,
.btn--presentations:focus {
  background-color: #eab534;
}

.btn--presentations:active {
  background-color: #e5a722;
}

.info {
  padding-top: 74px;
}

.info__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 74px;
}

.info__content {
  max-width: 660px;
}

.info__text {
  margin-bottom: 38px;
}

.info__list {
  padding-left: 36px;
}

.info__item {
  position: relative;

  margin-bottom: 24px;
}

.info__item:last-child {
  margin-bottom: 0;
}

.info__item::before {
  content: "";
  position: absolute;
  top: 12px;
  left: -35px;

  height: 2px;
  width: 25px;

  background-color: #fb565a;
}

.info__slogan {
  margin-top: 0;
  margin-bottom: 32px;
}

.info__slogan b {
  margin-top: 0;
  margin-bottom: 34px;

  font-family: "Roboto Medium", "Tahoma", sans-serif;
  font-size: 45px;
  line-height: 45px;
  font-weight: normal;
  color: #000;
}

.info__title {
  margin-bottom: 25px;

  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.1px;
}

.stats {
  position: relative;
  max-width: 360px;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}

.stats::before {
  content: "";
  position: absolute;
  left: 0px;
  top: -220px;

  display: block;
  height: 208px;
  width: 360px;

  background: url(../img/nerds-illustration.png) no-repeat;
  background-size: 100%;
}

.stats .info__title {
  margin-left: 4px;

  text-align: center;
  letter-spacing: 0.1px;
}

.stats th {
  padding: 33px 0;

  font-weight: bold;
  color: #000;
  font-size: 45px;
  line-height: 10.06px;
  text-align: left;
}

.stats sup {
  font-style: 27px;
}

.stats td {
  line-height: 18px;
  padding-right: 21px;
}

.clients {
  margin-bottom: 80px;
}

.clients__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0;

  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

.clients__item {
  position: relative;

  height: 90px;
  width: 300px;
  margin-top: 46px;
  margin-bottom: 44px;
}

.clients__item:not(:nth-child(4n+1))::before {
  content: "";
  position: absolute;
  top: 50%;

  width: 1px;
  height: 52px;

  background-color: #eee;

  -webkit-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
     transform: translate(0,-50%);
}

.clients__link {
  display: block;
}

.clients__img {
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;

  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
     transform: translate(-50%,-50%);
  opacity: .2;
}

.clients__img:hover,
.clients__img:focus {
  opacity: 1;
}

.clients__img:active {
  opacity: 0.1;
}

.clients__img--academy {
  left: 47%;
  top: 53%;
}

.clients__img--mishka {
  left: 54%;
  top: 51%;
}

.clients__item:nth-child(4n+1) .clents__img {
  left: 47%;
  top: 55%;
}

.clients__item:nth-child(4n),
.clients__item:nth-child(4n+1) {
  width: 280px;
}

.contacts {
  position: relative;
}

.contacts__content {
  position: absolute;
  top: 55px;
  left: 372px;

  width: 319px;
  padding: 46px 50px;

  background-color: #fff;
}

.contacts__title {
  margin-top: 0;
  margin-bottom: 22px;

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}

.contacts__phone-text {
  margin-top: 18px;
  margin-bottom: 37px;
}

.contacts__btn {
  display: block;
  padding: 16px 10px;

  text-align: center;

  background-color: #fb565a;
  border-radius: 5px;
}

.contacts__map {
  height: 416px;

  overflow: hidden;
  background-color: #eee;
}

iframe {
  width: 100%;
  height: 100%;

  border: 0;
}


.contacts__map-img {
  width: 100%;
}

.contacts__content p,
.contacts__phone {
  line-height: 18px;
  color: #666;
}

.feedback {
  position: fixed;
  top: -webkit-calc(50% - 319px);
  top: calc(50% - 319px);
  left: -webkit-calc(50% - 480px);
  left: calc(50% - 480px);
  z-index: 100;

 /* display: none;*/
  width: 960px;
  margin: 0 auto;
  padding: 0 99px;


  background-color: #fff;
  -webkit-box-shadow: 0 20px 40px 0 rgba(0,0,0,.75);
          box-shadow: 0 20px 40px 0 rgba(0,0,0,.75);
}

.modal-show {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.feedback__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feedback__submit {
  display: block;
  padding: 16px 84px;

  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.feedback__close {
  position: absolute;
  top: 75px;
  right: 90px;

  width: 21px;
  height: 21px;

  font-size: 0;
  border: 0;
  background: url(../img/close-cross.svg) no-repeat;

  opacity: .3;
  cursor: pointer;
}

.feedback__close:hover,
.feedback__close:focus {
  opacity: 1;
}

.feedback__close:active {
  opacity: .1;
}

.feedback__name {
  margin-right: 41px;
}

.input-name,
.input-email {
  width: 360px;
  padding: 14px;
}

.feedback__name,
.feedback__email {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 360px;
}

.feedback__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.feedback__message {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 47px;
  margin-top: 30px;
}

.feedback__name,
.feedback__email {
  width: 360px;
  margin-bottom: 0;
}

.feedback__title {
  margin-bottom: 25px;
  margin-top: 64px;

  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  color: #000;
}

.feedback .input {
  border-radius: 3px;
  border: 2px solid #d7dcde;
}

.feedback .input:hover {
  border: 2px solid #b4b9bb;
}

.feedback .input:focus {
  color: #444;

  border: 2px solid #000;
  outline: none;
}

/*.feedback .input:invalid {
  color: #e74246;

  border: 2px solid #e74246;
  outline: none;
}*/

.feedback .input:focus:required:invalid {
  color: #e74246;

  border: 2px solid #e74246;
  outline: none;
}

.feedback textarea {
  padding: 13px;
  padding-bottom: 28px;
  height: 118px;
}

placeholder {
  color: #444;
}

.feedback label {
  margin-bottom: 11px;

  font-weight: bold;
  line-height: 18px;
}

.feedback__submit {
  margin-bottom: 85px;
  background-color: #fb565a;
}

.pagination__list {
  max-width: 445px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin-bottom: 74px;
}

.pagination__link {

  padding: 11px 17px;
  font-style: 16px;
  line-height: 18px;
  color: #000;
  font-family: "Roboto Medium", "Tahoma", sans-serif;
  text-transform: uppercase;

  background-color: #eee;
  border: 3px solid #eee;
  border-radius: 3px;
}

.pagination__link--current {
  background-color: transparent;
}

.pagination__link--next {
  padding: 11px 76px;
}

.footer .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.social {
  margin-right: 127px;
}

.social__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.social__item {
  margin-right: 13px;
}

.social__btn {
  position: relative;

  display: block;
  width: 78px;
  height: 78px;

  background-color: #eee;
  border-radius: 50%;
}

.social__btn-img {
  position: absolute;
  top: 35%;
  left: 44%;
}

.social__btn:active .social__btn-img {
  opacity: 0.3;
}

.social__btn-img--insta {
  top: 36%;
  left: 37%;
}

.social__btn-img--vk {
  top: 39%;
  left: 34%;
}

.social__btn:hover,
.social__btn:focus {
  background-color: #e74246;
}

.social__btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;

  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.social__btn:active .social__btn:before {
  opacity: .3;
}

.footer {
  padding: 69px 0;
}

.footer__promo {
  margin-top: 3px;
}

.footer__slogan {
  margin: 0;

  color: #000;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.footer__discount {
  margin-top: 12px;

  line-height: 22px;
}








